{% extends 'zebracrossing/base.html' %}
{% block content %}
<h1>{{ campaign }}</h1>
<p>
Client: {{ campaign.client }}<br>
Ad Agency: {{ campaign.ad_agency }}<br>
Cost: R {{ campaign.cost }}<br>
</p>

<div id="booking_sheets" class="row">
  <div class="col-sm-10">
    <h2>Booking Sheets</h2>
  </div>
  <div class="col-sm-2">
    <a href="{% url 'campaigns:add_booking' campaign.id %}" class="btn btn-primary heading-btn" role="button">Add booking</a>
  </div>
</div>

{% if campaign.booking_sheets %}
  <ul class="list-group">
    {% for sheet in campaign.booking_sheets.all %}
    <li class="list-group-item"><a href="{% url 'campaigns:show_booking' sheet.id %}">{{ sheet.get_ad_type_display }}: {{ sheet.start_date }} - {{ sheet.end_date }}</a></li>
    {% endfor %}
  </ul>
{% endif %}

<div id="material" class="row">
  <div class="col-sm-10">
    <h2>Material</h2>
  </div>
  <div class="col-sm-2">
    <a href="{% url 'campaigns:add_material' campaign.id %}" class="btn btn-primary heading-btn" role="button">Add material</a>
  </div>
</div>

{% if campaign.material %}
  <ul class="list-group">
    {% for material in campaign.material.all %}
    <li class="list-group-item"><a href="{% url 'campaigns:download_material' material.id %}">{{ material }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
