{% extends 'zebracrossing/base.html' %}
{% block content %}
<div id=campaign-heading" class="row">
  <div class="col-sm-8">
    <h1>Campaigns</h1>
  </div>
  <div class="col-sm-4">
    <a href="{% url 'campaigns:add_campaign' %}" class="btn btn-primary heading-btn" role="button">Add campaign</a>
  </div>
</div>
<div id="campaigns" class="row">
  <div class="col-lg-4">
    <h2>Active Campaigns</h2>
    {% if active_campaigns %}
      <ul class="list-group">
    {% for campaign in active_campaigns %}
      <li class="list-group-item"><a href="{% url 'campaigns:detail' campaign.id %}">{{ campaign }}</a></li>
    {% endfor %}
      </ul>
    {% else %}
      <p>No campaigns are currently active</p>
    {% endif %}
  </div>
  <div class="col-lg-4">
    <h2>Upcoming Campaigns</h2>
    {% if upcoming_campaigns %}
      <ul class="list-group">
    {% for campaign in upcoming_campaigns %}
      <li class="list-group-item"><a href="{% url 'campaigns:detail' campaign.id %}">{{ campaign }}</a></li>
    {% endfor %}
      </ul>
    {% else %}
      <p>No campaigns are currently coming up</p>
    {% endif %}
  </div>
  <div class="col-lg-4">
    <h2>Past Campaigns</h2>
    {% if past_campaigns %}
      <ul class="list-group">
    {% for campaign in past_campaigns %}
      <li class="list-group-item"><a href="{% url 'campaigns:detail' campaign.id %}">{{ campaign }}</a></li>
    {% endfor %}
      </ul>
    {% else %}
      <p>There are no past campaigns</p>
    {% endif %}
  </div>
{% endblock %}
