.form-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.heading-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

#pagination_arrows{
  margin-left: auto; 
  margin-right: 0;
}

.buttons {
  width: 100px;
  margin: 0 auto;
  display: inline;
}
  
.action_btn { 
  width: 200px;
  margin: 0 auto;
  display: inline;
}

.w3-button{
  font-weight: bold;
  font-size: 30px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}